/* -------------------------- */
/* This CSS sheet styles the  */
/* table that resides in the  */
/* 'DisplayList' component    */
/* -------------------------- */

.table {
    display: table;
    width: 100%;
    border-collapse: collapse;
}

.header-row {
    display: table-row;
    font-weight: bold;
}

.row {
    display: table-row;
}

.header-cell,
.cell {
    display: table-cell;
    padding: 8px;
    border: 1px solid #ccc;
}

.task-list-container {
    max-height: 500px;
    /* Adjust the height as needed */
    overflow-y: auto;
    border: 1px solid #ccc;
    /* Optional: Add border for better UI */
    padding: 10px;
}

.task-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    /* Optional: Adds separation between tasks */
}

.task-item:last-child {
    border-bottom: none;
}

.update_delete_buttons {
    font-size: 10px;
    color: white;
    height: 30px;
    width: 50px;
    margin-top: 1px;
}

.Link:hover {
    color: bg-sky-700
    
}

button:hover {
    background-color: rgb(163, 181, 238); 
}

button:focus {
    outline: none;
}

Button:hover {
    color: white;
}

button{
    /* background-color: rgb(253, 252, 251); */
    background-color:rgb(21, 43, 102);
    color: darkblue;
    font-weight:bold;
    border-color: darkblue;
    border: 2px solid darkblue;
    /* padding: 10px 20px; */
    text-align: center;
    text-decoration: none;
    background-color: purple;
        /* color: white;
        padding: 10px 20px;
        border-radius: 8px; */
        font-weight: bold
    
}
.custom-button {
    padding: 4px 4px;
    font-size: 12px;
    background-color: purple;
}